# Surprise

Ejericio con la libería de [Surprise](https://surprise.readthedocs.io/en/stable/index.html) de Sistemas Recomendadores.

Instalamos el paquete

In [5]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 2.7MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.16.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1670923 sha256=d5c60626a8d852a093fef4ef5e1f269dde7d94706fd99d74953fa43ba3bb6a2c
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

Importamos los paquetes necesarios.

In [31]:
import pandas as pd

from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise import KNNBasic
from surprise.model_selection import train_test_split, cross_validate

### Añadir una nueva valoración

En esta parte del código es necesario añadir una nueva valoración al dataset creado, hay que tener en cuenta que tienes que además hay que añadir el identificador del usuario que la creo y la película que se valoró.

In [15]:
films = {1:'La vida de Pi', 2:'Avengers', 3:'Titanic', 4:'Brave'}
dfFilms = pd.DataFrame(films.items(), columns=['ID', 'Title'])
dfFilms.head()

   ID          Title
0   1  La vida de Pi
1   2       Avengers
2   3        Titanic
3   4          Brave

In [39]:
ratings = {'FilmID': [1, 2, 4, 2, 3, 3, 2, 4],
           'UserID': [1, 1, 2, 3, 3, 4, 1, 3],
           'Stars': [5, 4, 1, 4, 3, 2, 4, 3]}

dfRatings = pd.DataFrame(ratings)
dfRatings.head()

   FilmID  UserID  Stars
0       1       1      5
1       2       1      4
2       4       2      1
3       2       3      4
4       3       3      3

In [19]:
reader = Reader(rating_scale=(1, 5))

data = Dataset.load_from_df(dfRatings[['UserID', 'FilmID', 'Stars']], reader)

### KNN
Falta definir el código de nuestro algoritmo, que en este caso se tratará de uno basado en los k vecinos más cercanos (KNN),[concretamente el KNNBasic](https://surprise.readthedocs.io/en/stable/knn_inspired.html)

### Cross-validation

En este método es necesario definir el número de divisiones que utilizará la validación cruzada, la cual definiremos en 5. Hay que pasarle el parámetro correspondiente al método.

In [28]:
cross_validation = cross_validate(recommender, data, verbose=True)
print(cross_validation)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0000  1.0541  1.4142  0.2857  2.5714  1.2651  0.7487
MAE (testset)     1.0000  1.0000  1.0000  0.2857  2.5714  1.1714  0.7527
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
{'test_rmse': array([1.        , 1.05409255, 1.41421356, 0.28571429, 2.57142857]), 'test_mae': array([1.        , 1.        , 1.        , 0.28571429, 2.57142857]), 'fit_time': (0.0007662773132324219, 0.00048065185546875, 0.0005106925964355469, 0.0011186599731445312, 0.0005178451538085938), 'test_time': (0.00017690658569335938, 0.0002224445343017578, 0.00012612342834472656, 9.369850158691406e-05, 0.00010061264038085938)}

### Train and test

A esta celda le falta algo.. concretamente falla el entrenamiento ¿Cuál es la función para entrenar un modelo?

In [32]:
# Dividimos en train y test
trainset, testset = train_test_split(data, test_size=.25)

# Entrenamos y realizamos predicciones
recommender.______(trainset)
predictions = recommender.test(testset)

# Calculamos el error.
accuracy.rmse(predictions)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9428

0.9428090415820635

### Predicción de un usuario específico

En la siguiente celda hay que definir el código para evaluar una predicción concreta, justamente la del usuario con identificador 2 y la película de identificador 4 que corresponde con _Brave_. ¿Qué habría que definir para realizar dicha predicción? ¿es obligatorio aplicar el parámetro r_ui?

user: 2          item: 1          r_ui = None   est = 3.33   {'was_impossible': True, 'reason': 'User and/or item is unknown.'}